
<html>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../../stylesheets/index.css">
        <title> Admin </title>
    </head>
    
    <body class="body-admin">
        <!-- Title -->
        <div class="headImage">
            <img src = "../../assets/unify_logo.png" alt = "unify_logo">
            <h1> Admin Options </h1>
        </div>
        <div class = "home-cont">
            <div class="home-tab"><a href = 'flightStatus'> Flight Status </a> </div>
            <div class="home-tab"><a href = 'addFlight'> Add Flight </a> </div>
            <div class="home-tab"><a href = 'trackPay'> Track Payments </a> </div>
        </div>

        <div class="nav-container">
            <button class = "nav-btn" onclick="location.href = '/'"> Home </button>
        </div>
    
    </body>
    


</html>

